streamlit==1.29.0
plotly==5.18.0
joblib==1.2.0
pandas==2.0.3
requests==2.31.0
numpy==1.24.3
matplotlib==3.7.2
missingno==0.5.2
seaborn==0.12.2
pillow==10.0.1
streamlit-extras == 0.3.6
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5